<div class="Characters">
  <div class="Characters-container">
    <h2 class="Characters-title">Characters</h2>
    <div class="Characters-search">
      <div class="Characters-form"></div>
    </div>
    <div
      class="Characters-list"
      infiniteScroll
      [infiniteScrollDistance]="1"
      [immediateCheck]="true"
      (scrolled)="onScroll()"
    >
      <app-card
        *ngFor="let character of characters"
        [character]="character"
      ></app-card>
    </div>
  </div>
</div>
